.services-section {
  padding: 80px 0;
  background: linear-gradient(130deg, #b88fa3, #5e1242);
  color: #fff;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

.sec-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.sec-subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  opacity: 0.9;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.service-card {
  background: rgba(255, 255, 255, 0.09);
  padding: 35px 25px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: 0.4s ease-in-out;
}

.service-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.icon {
  font-size: 45px;
  margin-bottom: 15px;
}
.service-card h3 {
  margin-bottom: 12px;
  font-size: 22px;
}
.service-card p {
  font-size: 16px;
}
@media(max-width: 900px){
  .service-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width: 600px){
  .service-grid{
    grid-template-columns: 1fr;
  }
  .sec-title{
    font-size: 28px;
  }
}
